<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="HAWK" class="com.dianping.hawk.HawkAppender">
	 	<param name="key1" value="shop"/>
	 	<param name="key2" value="pic"/>
	 	<param name="key3" value="db"/>
		<param name="key4" value="timeout"/>
	 	<param name="cacheTimeMillis" value="30000"/>
	    <layout class="org.apache.log4j.PatternLayout">
	       	<param name="ConversionPattern" value="%d - %c -%-4r[%t] %-5p %x - %m%n" />
	    </layout>
	</appender>
	<logger name="com.dianping">
		<level value="error"/>
		<appender-ref ref="HAWK" />
	</logger>
	
</log4j:configuration>