<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://toolkit.alibaba-inc.com/dtd/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="/data/applogs/dpsftest/test.log" />
		<param name="append" value="true" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d %-5p %c{2} - %n%m%n" />
		</layout>
	</appender>
	
		<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="append" value="true" />
		<param name="threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%d %-5p %c{2} - %n%m%n" />
		</layout>
	</appender>

	<root>
		<appender-ref ref="console" />
		<priority value="debug" />
	</root>

</log4j:configuration>

